SUBSYSTEM=="net", ACTION=="add", KERNELS=="0000:00:03.0" DRIVERS=="e1000", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", KERNELS=="0000:00:04.0" DRIVERS=="e1000", ATTR{type}=="1", KERNEL=="eth*", NAME="eth1"
