#version=RHEL7

# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Use text install
cmdline

# Run the Setup Agent on first boot
firstboot --enable

#ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=yes --ipv6=auto --hostname=localhost.localdomain

# Root password
rootpw "sandvine"

# System timezone
timezone America/Toronto --isUtc --nontp
user --groups=wheel --name=sandvine --password=sandvine --gecos="Sandvine Admin"

zerombr
clearpart --all --initlabel

# System bootloader configuration
#bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
bootloader --location mbr --append="console=ttyS0,115200n8 net.ifnames=0 biosdevname=0 nomodeset modprobe.blacklist=ixgbe,i40e"

part / --fstype=ext4 --size=4094 --maxsize=4096 --grow --asprimary

reboot

%packages
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
