#version=RHEL7

# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Use text install
cmdline

# Run the Setup Agent on first boot
firstboot --enable

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=yes --ipv6=auto --hostname=localhost.localdomain

# Root password
rootpw "sandvine"

# System timezone
timezone America/Toronto --isUtc --nontp

# Create default Sandvine Admin user
user --groups=wheel --name=sandvine --password=sandvine --gecos="Sandvine Admin"

zerombr

clearpart --all --initlabel

# System bootloader configuration
bootloader --location mbr

part / --fstype=ext4 --size=4094 --maxsize=4096 --grow --asprimary

reboot

%packages
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
