<?xml version="1.0" encoding="UTF-8"?>

<CloudServices>

	<Storage>
		<!-- InfluxDB for storing real-time stats. -->
                <InfluxDB log="false" verbose="false">root:root@udp({{ csd_srvc_ip }}:8086)/cs</InfluxDB>

		<!-- Redis for web sessions and caching global attributes. -->
		<Redis>{{ csd_srvc_ip }}:6379</Redis>

		<!-- SPB SOAP for querying historical data. -->
		<SPB>spbadmin:sandvine@{{ spb_srvc_ip }}:8081</SPB>
		<!-- SPB data publishing interval. This value is represented in seconds.
		     If SPB published interval is 1 min then here it should be 60 -->
		<SPBInterval>60</SPBInterval>

		<!-- MySQL or PostgreSQL for persistence of global attributes. -->
                <RDBM>mysql://svadmin:sandvine@{{ csd_srvc_ip }}:3306/cs</RDBM>

		<!-- InfluxDB data cleanup time. Supported time suffix w = week, d = day, h = hour, m = minute and s = second -->
		<DataCleanupTime>62m</DataCleanupTime>

		<!-- UDR file location. This value is a soft link to /usr/local/sandvine/var/spool/logging/local/d2/logging/local
                     which is configured in logging_dictionary.xml -->
                <UdrSymLocation>/var/lib/csd/public/udrs</UdrSymLocation>
                <UdrActualLocation>/usr/local/sandvine/var/spool/logging/local/d2/logging/local</UdrActualLocation>

		<!-- Connection configuration for global attributes -->
                <GlobalAttr>http://{{ ga_srvc_ip }}:8091</GlobalAttr>
                <!-- Global attributes api version number -->
                <GlobalAttrAPI>1</GlobalAttrAPI>

		<!-- Managed DB file on SDE -->
		<ManagedDb>/var/lib/csd/cs_managed.db</ManagedDb>
		<!-- Name mapping DB file on SDE  -->
		<MappingDb>/var/lib/csd/cs_mapping.db</MappingDb>

                <!-- For MySQL: -->
                <RDBM>svadmin:sandvine@tcp({{ csd_srvc_ip }}:3306)/cs</RDBM>
	</Storage>

	<HTTP>
		<Server addr=":80" log="false">
			<DocumentRoot>/var/lib/csd/public</DocumentRoot>
			<!--
			<CertFile>./cert.pem</CertFile>
			<KeyFile>./key.pem</KeyFile>
			-->
		</Server>
	</HTTP>

	<Diameter>
		<Server addr=":3869" log="false" verbose="false">
			<Identity>cs</Identity>
			<Realm>sandvine.com</Realm>
			<!--
			<CertFile>./cert.pem</CertFile>
			<KeyFile>./key.pem</KeyFile>
			-->
		</Server>

		<!--
		<Client addr="demo-sde:3868" log="false" verbose="false">
			<Identity>csd</Identity>
			<Realm>sandvine.com</Realm>
			<CertFile>./cert.pem</CertFile>
			<KeyFile>./key.pem</KeyFile>
		</Client>
		-->
	</Diameter>

	<Map>
		<ProtocolMap>/var/lib/csd/maps/protocol_map</ProtocolMap>
		<TypeMap>/var/lib/csd/maps/type_map</TypeMap>
		<ProtoDispMap>/var/lib/csd/maps/protocoldisplay_map</ProtoDispMap>
	</Map>

	<DefaultConfiguration>
		<!-- Upstream is the expected maximum upstream system is provisioned for -->
		<Upstream>10Mbps</Upstream>
		<!-- Downstream is the expected maximum downstream system is provisioned for -->
		<Downstream>20Mbps</Downstream>
		<!-- Valid deployment type is standalone, cpe, and cloud_mdm -->
{% if setup_sub_option == 'default' %}
		<DeploymentType>standalone</DeploymentType>
{% endif %}
{% if setup_sub_option == 'mdm' %}
		<DeploymentType>cloud_mdm</DeploymentType>
{% endif %}
	</DefaultConfiguration>

{% if setup_sub_option == 'mdm' %}
        <!-- Configuration for cloud service mobile device management -->
	<MobileDeviceManagement>
		<!-- Address to access SDE SOAP Server -->
		<SDEAddr>http://{{ sde_srvc_ip }}:7504</SDEAddr>
		<!-- Provide a list of home mobile country code -->
		<HomeMCC>001</HomeMCC>
		<!-- Provide a list of default group -->
		<DefaultPlan group="Basic" default="Basic1"/>
		<DefaultPlan group="NoQuota" default="NoQuota1"/>
	</MobileDeviceManagement>
{% endif %}

</CloudServices>
